*{
	margin:0;
	padding: 0;
	background-color:#F0FFF0;
}
html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

div{
	margin-top: 10%;
	margin-left: 30%;
	margin-right: 30%;
}

form{
	margin-top: 20%;
	margin-left: 25%;
	margin-right: 25%;

}

h1{
	margin-left: 25%;
	margin-right: 25%;
	margin-top:30%;
}

input{
	background-color: white;
}